<template>
	<v-layout>
    <a-scene>

			<!-- Scene Objects -->
			<a-sphere 
		        v-for="item in pixels"
		        :key="item.key"
		        :position="item.position"
		        :color="item.colour"
		        radius="2"
		        rotation="0 0 0"
		        class="gazeable"
		        data-sender/>
      
			<a-sky 
        		color="#ECECEC"/>
      
			<!-- Mixins -->
			<a-assets>
				<a-mixin id="travelSpot"
					geometry="primitive: cylinder; radius: 1; height: 0.2"
		  			material="color: #FF9900" />

				<img id="groundTexture" src="https://cdn.aframe.io/a-painter/images/floor.jpg">
			</a-assets>

			<!-- Camera & Cursor -->
			<a-entity id="rig" position="0 0 0" movement-controls="controls: checkpoint" checkpoint-controls="mode: animate" >
				<a-entity camera position="0 3 0" look-controls="pointerLockEnabled: true">
					<a-entity cursor="fuse: true; fuseTimeout: 1000"
						raycaster="objects: .clickable"
						position="0 0 -3"
						geometry="primitive: ring; radiusInner: 0.04; radiusOuter: 0.05;"
						material="color: #000; shader: flat;">
						<a-animation begin="fusing" easing="linear" attribute="scale" fill="backwards"
							from="1 1 1" to="2 2 2" dur="1000"></a-animation>
						<a-animation begin="click" easing="linear" attribute="scale" fill="forwards"
							from="2 2 2" to="1 1 1" dur="250"></a-animation>
					</a-entity>
					<a-entity 
						cursor="mouseenter: true;"
						raycaster="objects: .gazeable"
						position="0 0 -3"
						material="color: #000; shader: flat;">
					</a-entity>
					<a-entity 
						position="-4 1.75 -3.3"
						geometry="primitive: plane; width: 2; height: 2;"
						material="color: #000; shader: flat; transparent: true; opacity: 0.5">
						<a-text position="-0.75 0.75 0" value="L:"/>
						<a-text position="-0.75 0.25 0" value="a:"/>
						<a-text position="-0.75 -0.25 0" value="b:"/>
						<a-text position="-0.75 -0.75 0" value="Color:"/>

						<a-text position="0.15 0.75 0" value="0" id="L-value-field"/>
						<a-text position="0.15 0.25 0" value="0" id="a-value-field"/>
						<a-text position="0.15 -0.25 0" value="0" id="b-value-field"/>
						<a-entity
						position="0.5 -0.75 0.001"
						geometry="primitive: plane; width: 0.75; height: 0.2;"
						material="color: #000; shader:flat"
						id="color-value-field"/>
					</a-entity>
				</a-entity>
			</a-entity>

			<!-- Checkpoints -->
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="0 0 0"></a-entity>
	  	<a-entity class= "clickable" checkpoint mixin="travelSpot" position="0 0 15"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="0 0 45"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="0 0 75"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="0 0 100"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="15 0 0"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="45 0 0"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="75 0 0"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="100 0 0"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="0 0 -15"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="0 0 -45"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="0 0 -75"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="0 0 -100"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="-15 0 0"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="-45 0 0"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="-75 0 0"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="-100 0 0"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="15 0 15"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="45 0 45"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="75 0 75"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="100 0 100"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="-15 0 15"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="-45 0 45"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="-75 0 75"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="-100 0 100"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="15 0 -15"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="45 0 -45"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="75 0 -75"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="100 0 -100"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="-15 0 -15"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="-45 0 -45"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="-75 0 -75"></a-entity>
			<a-entity class= "clickable" checkpoint mixin="travelSpot" position="-100 0 -100"></a-entity>

			<!-- Koordinatenkreuz -->
			<a-plane id="ground" src="#groundTexture" rotation="-90 0 0" position="0 -3 0" width="300" height="300"></a-plane>

			<a-entity id="lineA*" line="start: 100, 0, 0; end: -170 0 0; color: #999999">
				<a-entity text="value: a*; align: center; side: double" position="1.2 0 0.1" rotation="-90 0" scale="4 4 4"></a-entity>
			</a-entity>
          	
          	<a-entity id="lineB*" line__2="start: 0, 0, 150; end: 0 0 -100; color: #999999">
          		<a-entity text="value: b*; align: center; side: double" position="0.1 0 -1.2" rotation="-90 0" scale="4 4 4"></a-entity>
			</a-entity>	

    </a-scene>
  </v-layout>
</template>


<!-- Skripte und Funktionen -->
<script>
export default {
  head: {
  	title: 'CIE*Lab-VR',
  	script: [
  	{ src: '/js/aframe.js'},
  	{ src: '/js/aframe-extras.js'},
  	{ src: '/js/color-measure.js'}]
  },
  components: {
  }, 
  asyncData () {
	    var hello = {
	      pixels : []

	    }

	    var step = 5;
	    var maxSaturation = 1024;
	    var divisor = 2;
	    var upperBorder = maxSaturation/divisor;

	    var cieL;
	    var cieA;
	    var cieB;

	    var xQota;
	    var yQota;
	    var zQota;

	    var xRef = 95.047;
	    var yRef = 100.000;
			var zRef = 108.883;

			var LAB= [0, 0, 0];
			var lastLAB= [0, 0, 0];
			var currentDelta;
			
			function deltaE(labA, labB){
				var deltaL = labA[0] - labB[0];
				var deltaA = labA[1] - labB[1];
				var deltaB = labA[2] - labB[2];
				var c1 = Math.sqrt(labA[1] * labA[1] + labA[2] * labA[2]);
				var c2 = Math.sqrt(labB[1] * labB[1] + labB[2] * labB[2]);
				var deltaC = c1 - c2;
				var deltaH = deltaA * deltaA + deltaB * deltaB - deltaC * deltaC;
				deltaH = deltaH < 0 ? 0 : Math.sqrt(deltaH);
				var sc = 1.0 + 0.045 * c1;
				var sh = 1.0 + 0.015 * c1;
				var deltaLKlsl = deltaL / (1.0);
				var deltaCkcsc = deltaC / (sc);
				var deltaHkhsh = deltaH / (sh);
				var i = deltaLKlsl * deltaLKlsl + deltaCkcsc * deltaCkcsc + deltaHkhsh * deltaHkhsh;
				return i < 0 ? 0 : Math.sqrt(i);
			}

function lab2rgb(lab){
  var y = (lab[0] + 16) / 116,
      x = lab[1] / 500 + y,
      z = y - lab[2] / 200,
      r, g, b;

  x = 0.95047 * ((x * x * x > 0.008856) ? x * x * x : (x - 16/116) / 7.787);
  y = 1.00000 * ((y * y * y > 0.008856) ? y * y * y : (y - 16/116) / 7.787);
  z = 1.08883 * ((z * z * z > 0.008856) ? z * z * z : (z - 16/116) / 7.787);

  r = x *  3.2406 + y * -1.5372 + z * -0.4986;
  g = x * -0.9689 + y *  1.8758 + z *  0.0415;
  b = x *  0.0557 + y * -0.2040 + z *  1.0570;

  r = (r > 0.0031308) ? (1.055 * Math.pow(r, 1/2.4) - 0.055) : 12.92 * r;
  g = (g > 0.0031308) ? (1.055 * Math.pow(g, 1/2.4) - 0.055) : 12.92 * g;
  b = (b > 0.0031308) ? (1.055 * Math.pow(b, 1/2.4) - 0.055) : 12.92 * b;

  return [Math.floor(Math.max(0, Math.min(1, r)) * 255), 
          Math.floor(Math.max(0, Math.min(1, g)) * 255), 
          Math.floor(Math.max(0, Math.min(1, b)) * 255)]
}

	    for(var i = -3; i < upperBorder; i += step){
	      for(var j = -3; j < upperBorder; j += step){
	        for(var k = -3; k < upperBorder; k += step){
	          xQota = i / xRef;
	          yQota = j / yRef;
	          zQota = k / zRef;

	          if ( xQota > 0.008856){
	            xQota = Math.pow(xQota, 1/3)
	          } else {
	            xQota = (7.787 * xQota) + (16 / 116)
	          }
	          if( yQota > 0.008856){
	            yQota = Math.pow(yQota, 1/3)
	          } else {
	            yQota = (7.787 * yQota) + (16 / 116)  
	          }
	          if (zQota > 0.008856){
	            zQota = Math.pow(zQota, 1/3)
	          } else {
	            zQota = (7.787 * zQota) + (16 / 116)
	          }
	            
	          cieL = (116 * yQota) - 16;
	          cieA = 500 * (xQota - yQota)
	          cieB = 200 * (yQota - zQota)

						LAB[0] = [cieL];
						LAB[1] = [cieA];
						LAB[2] = [cieB];

						currentDelta= deltaE(LAB, lastLAB);
						
						if((100>cieA) && (-170<cieA) && (150>cieB) && (-100<cieB) && (100>cieL) && (0<cieL) && currentDelta>5){
							lastLAB[0] = [cieL];
							lastLAB[1] = [cieA];
							lastLAB[2] = [cieB]; 

							var rgb = lab2rgb(LAB);

							for(var u=0; u<3; u++){
								if (rgb[u].toString(16).length<2){
									rgb[u] = "0" + rgb[u].toString(16)
									}
								else{
									rgb[u]= rgb[u].toString(16)
								}	
							};

	          hello.pixels.push({
	            "position":`${cieA} ${cieL} ${cieB}`,
	            "colour":`#${rgb[0]}${rgb[1]}${rgb[2]}`
	          });
						console.log(hello.pixels.length);
						}
	        }
	      }
	    }
    return hello;
  }
}
</script>

<!-- Styles (CSS) -->
<style>
  .a-enter-vr-button {
    bottom: auto;
  }
</style>