<template>
  <a-scene>
    <a-box 
      position="0 2 5"
      rotation="0 45 0" 
      color="#4CC3D9"/>
    <a-sphere 
      position="0 1.25 -5"
      radius="1.25"
      color="#EF2D5E"/>
    <a-cylinder
      position="-1 0.5 -3"
      radius="0.5"
      height="1.5"
      color="#FFC65D"/>
    <a-plane 
      position="-1 0.5 -3"
      rotation="-90 0 0"
      width="4"
      height="4"
      color="#7BC8A4"/>
    <a-sky 
      color="#ECECEC"/>
  </a-scene>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo,
  }
}
</script>
