<template>
  <img
    class="Logo"
    alt="Logo"
    src="../static/w.png">
</template>

<style>
.Logo {
  width: 180px;
  transform: rotateY(560deg);
  animation: turn 3.5s ease-out forwards 1s;
}

@keyframes turn {
  100% {
    transform: rotateY(0deg);
  }
}
</style>
