<template>
  <a-scene>
    <a-box 
      v-for="item in pixels"
      :key="item.key"
      :position="item.position"
      :color="item.colour"
      height="0.5"
      width="0.5"
      depth="0.5"
      rotation="0 45 0"/>
    <a-sky 
      color="#ECECEC"/>
    <a-camera
      position="10 5 5"/>
  </a-scene>
</template>

<script>

export default {
  components: {
  }, 
  asyncData () {
    if(process.client){
    var hello = {
      pixels : []

    }
    var radius = 10;

    for(var x = 0; x < 360; x+= 10){
      for(var y = 0; y < 360; y+= 10){
        hello.pixels.push({
          "position":`${radius* Math.cos(x) * Math.sin(y)} ${radius * Math.cos(x) * Math.sin(y)} ${radius * Math.cos(y)}`,
          "colour":`#${x.toString(16)}${y.toString(16)}${(2).toString(16)}`
        });
        console.log(`#${x.toString(16)}${y.toString(16)}${(x*y).toString(16)}`)
      }
    }
  }
    return hello;
  }
}
</script>
