<template>
  <v-app dark> 

    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
     
  </v-app>
</template>

<script>
  export default {
    data() {
      return {
        clipped: false,
        drawer: false,
        fixed: false,
        items: [
          { icon: 'apps', title: 'Startseite', to: '/' },
          //{ icon: 'crop_square', title: 'RGBCube', to: '/colorspace/rgb/cube' },
          //{ icon: 'panorama_fish_eye', title: 'RGBSphere', to: '/colorspace/rgb/sphere'},
          { icon: 'change_history', title: 'LAB', to: '/colorspace/lab/cartesian'}
        ],
        miniVariant: false,
        title: 'Vuetify.js'
      }
    }
  }
</script>
