<template>
  <v-layout
    column
    justify-center
    align-center>

    <v-flex
      xs12
      sm8
      md6>
      <div class="text-xs-center">
        <button class="logobutton" to="/">
          Farbmetrik
        </button>
      </div>
      <v-card class="vcard">
        <v-card-title class="headline">
          Willkommen zum Projekt: CIE-LAB VR
        </v-card-title>
        <v-card-text class="textline">
          <br><br>Mit einem Klick auf den Button, wird eine Simulation des CIELa*b* Farbraums sichtbar. 
          <br><br>Diese wurde auf das Menschensichtbare angepasst.
          <br><br>(Die Farbwiedergabe erfolgt ausgabebedingt in RGB) 
        </v-card-text>
        <v-btn class="labbutton" to="/colorspace/lab/cartesian">
          Zum LAB-Projekt
        </v-btn>
      </v-card>
    </v-flex>
    
  </v-layout>
</template>

<script>
export default {
  head: {
    title: 'CIE*Lab-VR',
    script: [
    { src: '/js/aframe.js'},
    { src: '/js/aframe-extras.js'},
    { src: '/js/color-measure.js'}]
  }
}
</script>

<style>
  .theme--dark.application {
    background: url("../static/wallpaper5.jpg");
    width: 100%;
    height: auto;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
  }

  .theme--dark.v-card {
    border-style: none;
    border-color: black;
    background: transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .logobutton {
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    display: initial;
    margin: 0.5% 0 0 0.5%;
    padding: 0;
    font-size: 3vw;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 900;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
    font-family: 'Roboto', sans-serif;
  }

  .vcard {
    box-shadow: none;
    margin-top: 10vw !important;
    text-align: center;
  }

  .headline {
    font-size: 2vw !important;
    line-height: 1.25em !important;
    font-weight: 900;
    text-align: center;
    display: inline;
  }

  .textline {
    font-size: 1.5vw !important;
    line-height: 1vw !important;
    font-weight: 1000;
    text-align: center;
    margin-top: 0.5vw !important;
  }

  .labbutton {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw !important;
    width: 100%;
    height: auto;
  }
</style>
