<template>
  <v-layout>
    <a-scene>
        <a-box 
          v-for="item in pixels"
          :key="item.key"
          :position="item.position"
          :color="item.colour"
          height="0.5"
          width="0.5"
          depth="0.5"
          rotation="0 0 0"/>
        <a-sky 
          color="#ffffff"/>
        <a-camera
          position="4 4 16"
          rotation="0 0 0"/>
    </a-scene>
  </v-layout>
</template>

<script>
export default {
  asyncData ({req, res}) {
    if(process.client){
      console.log("Before put data")
    var hello = {
      pixels : []

    }
    var step = 1;
    var maxSaturation = 256;
    var divisor = 32;
    var upperBorder = maxSaturation/divisor;

    for(var x = 0; x < upperBorder; x += step){
      for(var y = 0; y < upperBorder; y += step){
        for(var z = 0; z < upperBorder; z += step)
        hello.pixels.push({
          "position":`${x} ${y} ${z}`,
          "colour":`#${(x*(16/upperBorder)).toString(16)}${(y*(16/upperBorder)).toString(16)}${(z*(16/upperBorder)).toString(16)}`
        });
      }
    }
    console.log("After put data")
    return hello;
    }
  }
}
</script>