<template>
  <v-layout>
    <a-scene>
      <a-box 
        v-for="item in pixels"
        :key="item.key"
        :position="item.position"
        :color="item.colour"
        :rotation="item.rotation"
        height="0.3"
        width="0.3"
        depth="0.3"/>
      <a-sky 
        color="#ECECEC"/>
      <a-camera
        position="0 0 0"/>
    </a-scene>
  </v-layout>
</template>

<script>
export default {
  asyncData ({req, res}) {
    if(process.client){
      var hello = {
        pixels : []

      }
      var radius = 6;
      var step = 10;
      var maxAngle = 360;

      for(var x = 0; x < maxAngle; x+= step){
        for(var y = 0; y < maxAngle; y+= step){

          var posx = radius * Math.sin(x) * Math.cos(y)
          var posy = radius * Math.sin(x) * Math.sin(y)
          var posz = radius * Math.cos(x)

          var rad2Deg = (180/Math.PI)

          var rotx = Math.acos( posy/Math.sqrt(posx*posx+posy*posy+posz*posz)) * rad2Deg
          var roty = Math.acos( posz/Math.sqrt(posx*posx+posy*posy+posz*posz)) * rad2Deg
          var rotz = Math.acos( posx/Math.sqrt(posx*posx+posy*posy+posz*posz)) * rad2Deg


          var red = Math.floor(((Math.sin(x) * Math.cos(y)*256)+256)%256).toString(16)
          if(red.length == 1){
            red = "0".concat(red);
          }
          var green = Math.floor(((Math.sin(x) * Math.sin(y)* 256)+256)%256).toString(16)
          if(green.length == 1){
            green = "0".concat(green);
          }
          var blue = Math.floor(((Math.cos(x)*256)+256)%256).toString(16)
          if(blue.length == 1){
            blue = "0".concat(blue);
          }

          hello.pixels.push({
            "position":`${posx} ${posy} ${posz}`,
            "colour":`#${red}${green}${blue}`,
            "rotation":`${posz>0?rotx+90:rotx-90} ${posx>0?roty:-roty} ${posy>0?rotz:-rotz}`
          });
        }
      }
    return hello;
    }
  }, 
   mounted () {
  }
  
}
</script>

